*{
    font: Montserrat;
    a{
      text-decoration:none;
    }
  }
.row{
    margin: 0px;
    background-image: url("../../assets/img.jpg");
    background-size: 100% 100%;
}
input{
  border: 2px solid #c7c7c7;
  border-radius: 12px;
}
.col-md-4{
  background-color: inherit;
  opacity: 0.89;
  width: 500px;
  margin: auto;
}
.avatar{
    margin:auto;
    display:flex;
}
.text{
  text-align: center;
    color: #dce3ed;
}
.c {
    /*height:120px;
    overflow-y: scroll;*/
  }
  ::-webkit-scrollbar{
      display: none;
  }
.container{
    margin-top: 20px;
}
.btn-lg{
    background-color:  #1867D9;
    color: white; 
    border-radius: 60px;
}
  h6>a,h4>a{
    color:  #1867D9;
  }
@media (min-width: 768px){
    .box{

    }
}