<div class="row mx-3">
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
    <div class="col-sm-8 col-md-6 col-lg-4 mt-5" >
        <form class="p-2 rounded-3"(ngSubmit)="submit()" [formGroup]="EmailForm"  >
            <h3 class="text-center">Mot de passe oublié</h3>
            <div class="mb-3 " >
                <input type="text"  placeholder="Email" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': submitted && EmailForm.controls['email'].errors }" formControlName="email" >
                <div *ngIf="submitted && EmailForm.controls['email'].errors" class="invalid-feedback">
                  <div *ngIf="EmailForm.controls['email'].errors['required']">Adresse e-mail est obligatoire</div>
                  <div *ngIf="EmailForm.controls['email'].errors && !EmailForm.controls['email'].errors['required']">Veuillez saisir une adresse e-mail valide</div>
              </div>
                  </div>
                  <p class="text-danger text-center">{{error}}</p>
                  <p class="text-success text-center">vous recevrez un lien de réinitialisation du mot de passe dans votre e-mail</p>
            <div class="d-flex justify-content-end">
               
                <button type="submit" class="btn btn-primary ">Reset Password</button>
            </div>
        </form>
    </div>
    <div class="col-sm-2 col-md-3 col-lg-4"></div>
</div>