<div class="row px-1">
    <div class="col-lg-6 col-md-6 col-sm-6 my-1">
      <div class="card bg-info" style="color: #fff!important ;background-color:#1867d9 !important ;">
        <div class="inner">
          <h3>{{reservations}}</h3>
          <p>Reservations</p>
        </div>
        <a  class=" card-footer text-center" style="width:100%;text-decoration: none;color: #fff;">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 my-1">
      <div class="card bg-info" style="color: #fff!important;background-color: #1867d9 !important;">
        <div class="inner">
          <h3>{{montant}}</h3>
          <p>Montant</p>
        </div>
        <a  class=" card-footer text-center" style="width:100%;text-decoration: none;color: #fff;">More info <i class="bi bi-arrow-right-circle-fill"></i></a>
      </div>
    </div>
  </div>

  