@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:ital,wght@0,300;0,400;1,100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap");


.navbar{
  background: linear-gradient(69.8deg, rgb(25, 49, 108) 2.8%, rgb(1, 179, 201) 97.8%);
}
nav{
  margin: 0px;
  padding: 0px;
  z-index: 3;
}
a{
  text-decoration: none;
}
.container-fluid {
  min-height: 84px;
  //background-color: #1867d9;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}
.navbar-toggler{
  background-color: #fdfdfd;
}
.navbar-toggler-icon{
    background-color: white;
}
.navItems a,.btnSignOut {
  color: #e2dfdf;
  text-decoration: none;
  padding: 10px;
  border-radius: 32px;
}
li{
    margin: 10px;
    margin-block: 15px;
}
.navItems :hover {
  color: #e2dfdf;
  //background-color: #1867d9;
  text-decoration: none;
  border-radius: 32px;
}
.navItems.active a {
  color: #e2dfdf;
  //background-color: #1867d9;
  text-decoration: none;
  border-radius: 32px;
  padding: 10px;
}
// .navbar-brand {
//   background-color: white;
//   color: #1867d9;
//   padding: 10px;
//   margin: 10px;
//   font-size: 25px;
//   font-family: "Fugaz One", cursive;
//   font-weight: bold;
//   border-radius: 32px;
// }
.navbar-brand {
  
  color: #ffffff;
  padding: 20px;
  margin: 10px;
  font-size: 25px;
  font-family: "Fugaz One", cursive;
  font-weight: bold;
  border-radius: 32px;
}
.btnSignin {
  margin-left: 0px;
  
  color: #fff;
  border-radius: 32px;
  font-weight: bold;
  padding: 10px 25px;
  
}
.btnSignin:hover {
  background-color: #FFF;
  color: #111111;
  border-radius: 32px;
}
.btnSignup {
 
  color: #fff;
  border-radius: 32px;
  font-weight: bold;
  padding: 10px 15px;
}
.btnSignup:hover {
  background-color: #FFF;
  color: #111111;
  border-radius: 32px;
}
.btns{
    right: 60px;
    margin-left: auto;
}
.btnSignOut{
  padding: 15px 20px;
  background-color: #46525b;
}
.bi-bell,.bi-chat-dots{
  font-size: 2rem;
  color: white;
}

.image{
  border-radius: 50%;
  width: 50px;
  vertical-align: middle;
  margin-right: 1rem;
}
.media{
  display: flex;
  align-items: flex-start;
}
@media (max-width: 350px){
  *{
      font-size: 0.9rem;
  }
  .image{
    border-radius: 50%;
    width: 30px;
    vertical-align: middle;
    margin-right: 1rem;
  }
  .dropdown-item{
    padding: 0px;
  }
  .bi-bell{
    font-size: 1.5rem;
    color: white;
  }
}