<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
<div class="Footer">
    <div class="container">
        <div class="legal__link">
            <span>©Copyright HORMIGA 2023</span>
        </div>
        <!-- <div class="social-links">
            <a href=""><i class="fab fa-facebook-f"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div> -->
    </div>
</div>